<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>True Vision</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+CXy+mm7mP7LFnI0w9gXtP1o8pr6v/V3a1upmvzhD0M1up" crossorigin="anonymous"></script>
  <style>
    body {
      margin: 0;
      font-family: 'Arial Black', sans-serif;
      background: linear-gradient(to right, #2600ff, #040041);
      color: #00ff66;
      min-height: 100vh;
      position: relative;
      overflow-x: hidden;
    }
  </style>
</head>
<body>
    <nav class="navbar" style="background-color: #000000;">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="T_Vision_logo-GREEN-BLACK.png" alt="Bootstrap" width="55" height="55">
          </a>
          <button type="button" class="btn" style="border-radius: 50px; background-color: #00F148; color: black;" onclick="window.location.href='statistic_page.html'"d>Statistic</button>
          <button type="button" class="btn" style="border-radius: 50px; background-color: #00F148; color: black;" onclick="window.location.href='about.html'"d>About</button>
        </div>
      </nav>

      <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="T_Vision_logo-GREEN.png" alt="Bootstrap" width="300" height="300">
            </div>
            <div class="col-md-6">
                <img src="True_Vision_logo-text-GREEN.png" alt="Bootstrap" width="555" height="350px" top=" 30px">
            </div>
            <div class="col-md-6" style="margin-top: 100px;">
                <h1>True Vision</h1>
                <p>True Vision is a company that provides a platform for users to view and share their vision of the world.</p>
            </div>
        </div>
      </div>
</body>
</html>
